training_log/*
data/a*
data/last-fm
data/mooccube/raw/entities
data/mooccube/raw/relations
data/mooccube/raw/tuples/relations/*json
data/mooccube/raw/tuples/relations/*pkl
data/mooccube/raw/*csv
data/mooper_new
nohup.out
core
modules/__pycache__
utils/__pycache__
output
weights/*
test.ipynb
data/mooper/raw/knowledgeGraph
data/mooper/raw/interaction